<div ng-controller="StudentController" ng-init="init()">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills nav-wizard">
				<li class="" ng-repeat="step in Steps">
					<div ng-if="!$first" class="nav-wedge"></div>
					<a data-toggle="tab"><span class="badge">{{step.id}}</span> {{step.description}}</a>
					<div ng-if="!$last" class="nav-arrow"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label for="">Summary</label>
				</div>
				<div class="list-group-canvas">
				</div>
			</div>
		</div>
		<div class="col-md-6">
				<button class="btn btn-primary btn-fab top right " ng-click="nextStep()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
				<div class="list-group" ng-show="ActiveStep===1">
				  <div class="list-group-item list-group-header">
						<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						<label>Basic Information</label>
				  </div>
				  <div class="list-group-canvas">
				  <div class="list-group-item">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for=""> Department</label>
								<div class="btn-group btn-group-justified">
								  <div class="btn-group">
									<button type="button" class="btn btn-default">Preschool</button>
								  </div>
								  <div class="btn-group">
									<button type="button" class="btn btn-default">Grade S.</button>
								  </div>
								  <div class="btn-group">
									<button type="button" class="btn btn-default">High S.</button>
								  </div>
								</div>
							</div>
							<div class="col-md-6">
								<label for=""> Level</label>
								<select name="" id="" class="form-control">
									<option value="">Select Level</option>
									<option value="1">Grade 1
									</option>
									<option value="2">Grade 2
									</option>
									<option value="3">Grade 3
									</option>
									<option value="4">Grade 4
									</option>
									<option value="5">Grade 5
									</option>
									<option value="6">Grade 6
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for="">First Name</label>
								<input type="text" class="form-control" placeholder="Given name">
							</div>
							<div class="col-md-6">
								<label for="">Middle Name</label>
								<input type="text" class="form-control" placeholder="Middle name">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for="">Last Name</label>
								<input type="text" class="form-control" placeholder="Family name">
							</div>
							<div class="col-md-6">
								<label for="">Suffix</label>
								<input type="text" class="form-control" placeholder="Jr., III">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for=""> Gender</label>
								<div class="btn-group btn-group-justified">
								  <div class="btn-group">
									<button type="button" class="btn btn-default">Male</button>
								  </div>
								  <div class="btn-group">
									<button type="button" class="btn btn-default">Female</button>
								  </div>
								</div>
							</div>
							<div class="col-md-6">
								<label for=""> Birthday</label>
								<input type="date" class="form-control" placeholder="mm/dd/yyy">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<label for=""> Birth Place</label>
								<input type="text" class="form-control" placeholder="Address" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label for=""> Religion</label>
								<select name="" id="" class="form-control">
									<option value="">Select Level</option>
									<option value="1">Grade 1
									</option>
									<option value="2">Grade 2
									</option>
									<option value="3">Grade 3
									</option>
									<option value="4">Grade 4
									</option>
									<option value="5">Grade 5
									</option>
									<option value="6">Grade 6
									</option>
								</select>
							</div>
							<div class="col-md-6">
								<label for=""> Citizenship</label>
								<select name="" id="" class="form-control">
									<option value="">Select Level</option>
									<option value="1">Grade 1
									</option>
									<option value="2">Grade 2
									</option>
									<option value="3">Grade 3
									</option>
									<option value="4">Grade 4
									</option>
									<option value="5">Grade 5
									</option>
									<option value="6">Grade 6
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>	 
			</div>
				</div>
				<div class="list-group" ng-show="ActiveStep===2">
					<div class="list-group-item list-group-header">
						<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						<label for="">Contact Information</label>
					</div>
					<div class="list-group-canvas">
					</div>
				</div>
				<div class="list-group" ng-show="ActiveStep===3">
					<div class="list-group-item list-group-header">
						<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						<label for="">Confirmation</label>
					</div>
					<div class="list-group-canvas">
					</div>
				</div>
		</div>
	</div>
</div>
